@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");

* {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #10221b;
}

section {
  padding: 5rem 9%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}

.header .navbar a {
  margin-left: 60px;
  font-size: 1.7rem;
  color: #fff;
}

.header .navbar a:hover {
  color: black;
  border-bottom: 2px solid black;
}

/* background image section */
#bg-image {
  background: url(/image/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home {
  padding: 0;
}

.home .box {
  min-height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2rem 9%;
}

.home .box .content {
  width: 60rem;
  color: #fff;
}

.home .box .content span {
  font-size: 4rem;
}

.home .box .content p {
  line-height: 2;
  font-size: 15px;
}

.home .box .form-page {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  width: 220px;
  margin-bottom: 10px;
  background-color: transparent;
  border-bottom: 2px solid grey;
  padding-bottom: 10px;
  color: #fff;
}

::placeholder {
  color: #fff;
}

.btn {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  background: #1b7bff;
  font-size: 1.7rem;
  padding: 0.8rem 2rem;
}

/* packages section */

.benefits {
  height: 60vh;
  margin-top: -190px;
  background: #fff;
}

.heading {
  margin: 40px;
  font-size: 30px;
  padding-top: 80px;
}

.benefits .box-container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.fa-user,
.fa-laptop-house,
.fa-building {
  color: #98ccfd;
}

.benefits .box-container .box .content {
  padding: 2rem;
}

.benefits .box-container .box .content h3 {
  font-size: 15px;
  color: #10221b;
  margin-top: 17px;
}

.benefits .box-container .box .content p {
  font-size: 12px;
  color: #10221b;
  padding: 1rem 0;
}

.benefits .box-container .box .content .button {
  font-size: 16px;
  color: #98ccfd;
  text-transform: uppercase;
}

.benefits .box-container .box .content span {
  padding-left: 20px;
  width: 100%;
}

/* gallery section */

.gallery-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.gallery-header .inspired {
  background: #fff;
  border-bottom: 2px solid #98ccfd;
  font-size: 20px;
  color: #102746;
  font-weight: 400;
}

.gallery-header a {
  font-size: 15px;
  color: #98ccfd;
}

.gallery .box-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.gallery .box-container .box {
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.gallery .box-container .box .content_heading {
  position: absolute;
  bottom: 32px;
  left: 16px;
  font-size: 28px;
  color: #fff;
}

/* description section */

.description {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.description .image {
  flex: 1;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

.description .image img {
  width: 100%;
  height: 280px;
  background-size: cover;
}

.description .content {
  flex: 1;
  padding: 30px;
}

.description .content h3 {
  font-size: 20px;
  color: #102746;
  text-shadow: 0.2px 0.3px 4px#102746;
}

.description .content p {
  font-size: 12px;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.description .button-container {
  padding-top: 30px;
}

.description .button-container a {
  font-size: 13px;
  color: #98ccfd;
}

.description .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 0.3rem;
}

/* packages */

.packages .inspired {
  background: #fff;
  border-bottom: 2px solid #98ccfd;
  font-size: 20px;
  color: #102746;
  font-weight: 400;
}

.packages .box-container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.packages .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  padding: 2rem;
  padding-bottom: 0;
  border-radius: 0.5rem;
  width: 100%;
}

.packages .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  opacity: 0.8;
}

.packages .box-container .box .card-container {
  position: relative;
}

.packages .box-container .box .card-item {
  position: absolute;
  bottom: 1px;
  left: 17px;
  font-size: 12px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.packages .box-container .box .card-item h4 {
  padding-top: 20px;
  margin-left: 5px;
}

.packages .box-container .box .card-item span {
  padding-left: 225px;
  margin: 20px;
}

.packages .box-container .box .content {
  padding: 2rem;
}

.packages .box-container .box .content p {
  font-size: 12px;
  color: #10221b;
  padding: 1rem 0;
}

/* video section */

.video {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* footer */

.footer {
  background: #333;
  color: #fff;
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .box-container .box {
  padding: 1rem 0;
  flex: 1 1 25rem;
}

.footer .box-container .box h1 {
  font-size: 35px;
  color: #1b7dff;
}

.footer .box-container .box h2 {
  font-size: 15px;
  padding: 0.4rem 0;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 0.7rem 0;
  color: #eee;
}

.footer .box-container .box a:hover {
  color: #1b7dff;
  text-decoration: none;
}

/* Menu button */

.header #menu-btn {
  display: none;
}

.header .navbar #nav-close {
  font-size: 5rem;
  cursor: pointer;
  color: #10221b;
  display: none;
}

/* for window onscroll */

.header.active {
  background: #10221b;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

/* media queries */

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
    color: #fff;
  }

  .header .navbar {
    position: fixed;
    top: 0;
    left: -110%;
    background: gray;
    z-index: 10000;
    width: 35rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header .navbar.active {
    left: 0;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }
  .header .navbar a {
    margin: 1rem 0;
    font-size: 3rem;
  }

  .header .navbar #nav-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
  .home .box .content {
    width: 40rem;
  }
  .home .box .form-page {
    padding-top: 20px;
    background: none;
    display: grid;
    justify-content: space-between;
  }
  input[type="text"] {
    width: 280px;
    background-color: transparent;
    border-bottom: 2px solid grey;
  }
  .btn {
    text-align: center;
  }

  .benefits {
    background: #fff;
    height: 110vh;
    margin-top: -210px;
    margin-bottom: 30px;
  }
  .gallery-header .inspired {
    border-bottom: 2px solid #98ccfd;
    font-size: 10px;
    color: #102746;
    font-weight: 400;
  }

  .footer .box-container {
    /* display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem; */
  }
}
